<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kanoonRahbordi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846D13881EDAD48B006BA106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846D139F1EDAD48B006BA106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846D13AA1EDAD48B006BA106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
